## 1. Load and explore dataset

In [1]:
%load_ext autoreload
%autoreload 2

**[1.1]** Import packages

In [2]:
import pandas as pd
import numpy as np

**[1.2]** Create a variable called file_url containing the CSV file and load the dataset into dataframe called df_train and df_test

In [3]:
df_test = pd.read_csv('../data/raw/test.csv')
df_train = pd.read_csv('../data/raw/train.csv')

/var/folders/53/lfhrj5t92lb1ltnby1j6jf000000gn/T/ipykernel_23585/2485453087.py:2: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df_train = pd.read_csv('../data/raw/train.csv')

**[1.3]** Display the first 5 rows of df_train and df_test

In [4]:
df_train.head(5)

,team,conf,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,...,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,player_id,drafted
0,South Alabama,SB,26,29.5,97.3,16.6,42.5,44.43,1.6,4.6,...,-1.941150,0.1923,0.6154,0.8077,1.1923,0.3462,0.0385,3.8846,7be2aead-da4e-4d13-a74b-4c1e692e2368,0.0
1,Utah St.,WAC,34,60.9,108.3,14.9,52.4,54.48,3.8,6.3,...,-0.247934,0.6765,1.2647,1.9412,1.8235,0.4118,0.2353,5.9412,61de55d9-1582-4ea4-b593-44f6aa6524a6,0.0
2,South Florida,BE,27,72.0,96.2,21.8,45.7,47.98,2.1,8.0,...,-0.883163,0.6296,2.3333,2.9630,1.9630,0.4815,0.0000,12.1852,efdc4cfc-9dd0-4bf8-acef-7273e4d5b655,0.0
3,Pepperdine,WCC,30,44.5,97.7,16.0,53.6,53.69,4.1,9.4,...,-0.393459,0.7000,1.4333,2.1333,1.1000,0.5667,0.1333,4.9333,14f05660-bb3c-4868-b3dd-09bcdb64279d,0.0
4,Pacific,BW,33,56.2,96.5,22.0,52.8,54.31,8.3,18.6,...,-0.668318,1.4242,3.3030,4.7273,0.8485,0.4545,0.3333,7.5758,a58db52f-fbba-4e7b-83d0-371efcfed039,0.0

**[1.4]** Display the dimensions of df_train and df_test

In [5]:
df_train.shape

(56091, 64)

In [6]:
df_test.shape

(4970, 63)

**[1.5]** Display the summary of df_train and df_test

In [7]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56091 entries, 0 to 56090
Data columns (total 64 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   team                 56091 non-null  object
 1   conf                 56091 non-null  object
 2   GP                   56091 non-null  int64
 3   Min_per              56091 non-null  float64
 4   Ortg                 56091 non-null  float64
 5   usg                  56091 non-null  float64
 6   eFG                  56091 non-null  float64
 7   TS_per               56091 non-null  float64
 8   ORB_per              56091 non-null  float64
 9   DRB_per              56091 non-null  float64
 10  AST_per              56091 non-null  float64
 11  TO_per               56091 non-null  float64
 12  FTM                  56091 non-null  int64
 13  FTA                  56091 non-null  int64
 14  FT_per               56091 non-null  float64
 15  twoPM                56091 non-null  int64
 16  twoPA                56091 non-null  int64
 17  twoP_per             56091 non-null  float64
 18  TPM                  56091 non-null  int64
 19  TPA                  56091 non-null  int64
 20  TP_per               56091 non-null  float64
 21  blk_per              56091 non-null  float64
 22  stl_per              56091 non-null  float64
 23  ftr                  56091 non-null  float64
 24  yr                   55799 non-null  object
 25  ht                   55993 non-null  object
 26  num                  51401 non-null  object
 27  porpag               56091 non-null  float64
 28  adjoe                56091 non-null  float64
 29  pfr                  56091 non-null  float64
 30  year                 56091 non-null  int64
 31  type                 56091 non-null  object
 32  Rec_Rank             17036 non-null  float64
 33  ast_tov              51901 non-null  float64
 34  rimmade              50010 non-null  float64
 35  rimmade_rimmiss      50010 non-null  float64
 36  midmade              50010 non-null  float64
 37  midmade_midmiss      50010 non-null  float64
 38  rim_ratio            46627 non-null  float64
 39  mid_ratio            46403 non-null  float64
 40  dunksmade            50010 non-null  float64
 41  dunksmiss_dunksmade  50010 non-null  float64
 42  dunks_ratio          25298 non-null  float64
 43  pick                 1386 non-null   float64
 44  drtg                 56047 non-null  float64
 45  adrtg                56047 non-null  float64
 46  dporpag              56047 non-null  float64
 47  stops                56047 non-null  float64
 48  bpm                  56047 non-null  float64
 49  obpm                 56047 non-null  float64
 50  dbpm                 56047 non-null  float64
 51  gbpm                 56047 non-null  float64
 52  mp                   56053 non-null  float64
 53  ogbpm                56047 non-null  float64
 54  dgbpm                56047 non-null  float64
 55  oreb                 56053 non-null  float64
 56  dreb                 56053 non-null  float64
 57  treb                 56053 non-null  float64
 58  ast                  56053 non-null  float64
 59  stl                  56053 non-null  float64
 60  blk                  56053 non-null  float64
 61  pts                  56053 non-null  float64
 62  player_id            56091 non-null  object
 63  drafted              56091 non-null  float64
dtypes: float64(49), int64(8), object(7)
memory usage: 27.4+ MB

There are some columns with Na's values

**[1.6]** Display the descriptive statictics of df_train and df_test

In [8]:
df_train.describe()

,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,AST_per,TO_per,...,ogbpm,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,drafted
count,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,...,56047.000000,56047.000000,56053.000000,56053.000000,56053.000000,56053.000000,56053.000000,56053.000000,56053.000000,56091.000000
mean,23.411973,37.325229,91.858295,18.149265,44.575513,47.676882,5.575376,12.673716,10.848740,20.337819,...,-2.083375,-0.442297,0.770611,1.892593,2.663204,1.073038,0.529475,0.282825,5.775381,0.009556
std,10.090542,28.061897,30.538819,6.204489,18.213813,17.414133,9.480239,10.878099,9.356001,12.226129,...,6.190166,3.279438,0.738899,1.479148,2.099913,1.171148,0.469152,0.417754,4.953723,0.097287
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-141.539000,-100.984000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,16.000000,9.500000,84.100000,14.500000,40.100000,43.930000,1.800000,8.400000,4.600000,14.800000,...,-4.426515,-1.728030,0.225800,0.700000,1.000000,0.222200,0.160000,0.000000,1.571400,0.000000
50%,28.000000,35.900000,97.100000,18.100000,47.700000,50.850000,4.300000,11.900000,9.100000,19.100000,...,-1.580380,-0.313051,0.545500,1.633300,2.259300,0.677400,0.424200,0.133300,4.482800,0.000000
75%,31.000000,62.200000,106.900000,21.800000,53.200000,56.060000,8.100000,16.000000,15.100000,24.500000,...,0.992335,1.066415,1.111100,2.758600,3.833300,1.533300,0.793100,0.366700,9.069000,0.000000
max,41.000000,98.000000,834.000000,50.000000,150.000000,150.000000,1576.600000,1385.000000,100.000000,100.000000,...,225.485000,78.985500,5.933300,11.545500,14.533300,10.000000,4.000000,5.258100,30.090900,1.000000

In [9]:
df_test.describe()

,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,AST_per,TO_per,...,mp,ogbpm,dgbpm,oreb,dreb,treb,ast,stl,blk,pts
count,4970.000000,4970.000000,4970.000000,4970.000000,4970.000000,4970.000000,4970.000000,4970.000000,4970.000000,4970.000000,...,4970.000000,4969.000000,4969.000000,4970.000000,4970.000000,4970.000000,4970.000000,4970.000000,4970.000000,4970.000000
mean,15.865795,34.906881,89.500644,17.867626,43.657203,46.538342,5.168390,13.048753,10.356801,18.962254,...,16.569559,-2.149284,-0.526065,0.697025,1.953592,2.650609,1.069840,0.529118,0.260375,5.753262
std,8.276655,27.921356,35.338827,6.780159,20.716630,19.992005,7.030561,9.248595,9.427192,13.255566,...,10.550727,6.750792,3.920493,0.683636,1.533018,2.073589,1.153074,0.474838,0.380465,4.881835
min,1.000000,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.250000,-62.101300,-31.594500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9.000000,6.700000,80.900000,14.200000,38.400000,42.340000,1.400000,8.400000,4.300000,13.100000,...,6.891675,-4.443960,-1.868180,0.200000,0.750000,1.000000,0.250000,0.142900,0.000000,1.602175
50%,17.000000,32.350000,96.800000,18.000000,48.100000,50.850000,3.700000,12.300000,8.600000,18.100000,...,16.083350,-1.540360,-0.397400,0.500000,1.666700,2.260900,0.680000,0.428600,0.133300,4.535900
75%,22.000000,59.900000,107.100000,21.800000,54.000000,56.780000,7.400000,16.800000,14.500000,23.400000,...,25.991375,1.103500,1.049540,1.000000,2.882400,3.800000,1.533300,0.807700,0.333300,9.000000
max,33.000000,96.000000,391.200000,48.200000,150.000000,150.000000,231.800000,121.100000,100.000000,100.000000,...,38.800000,160.805000,71.811500,5.148100,10.681800,15.000000,8.400000,3.565200,3.640000,25.333300

**[1.7]** Display missing values in each columns of df_train and df_test

In [10]:
print("Missing values in tranining data:")
for i in df_train.columns[df_train.isna().any()]:
    no_missing = df_train[i].isna().sum()
    print("Column "+str(i) +":"+str(no_missing) +" NAs")

Missing values in tranining data:
Column yr:292 NAs
Column ht:98 NAs
Column num:4690 NAs
Column Rec_Rank:39055 NAs
Column ast_tov:4190 NAs
Column rimmade:6081 NAs
Column rimmade_rimmiss:6081 NAs
Column midmade:6081 NAs
Column midmade_midmiss:6081 NAs
Column rim_ratio:9464 NAs
Column mid_ratio:9688 NAs
Column dunksmade:6081 NAs
Column dunksmiss_dunksmade:6081 NAs
Column dunks_ratio:30793 NAs
Column pick:54705 NAs
Column drtg:44 NAs
Column adrtg:44 NAs
Column dporpag:44 NAs
Column stops:44 NAs
Column bpm:44 NAs
Column obpm:44 NAs
Column dbpm:44 NAs
Column gbpm:44 NAs
Column mp:38 NAs
Column ogbpm:44 NAs
Column dgbpm:44 NAs
Column oreb:38 NAs
Column dreb:38 NAs
Column treb:38 NAs
Column ast:38 NAs
Column stl:38 NAs
Column blk:38 NAs
Column pts:38 NAs

In [11]:
print("Missing values in testing data")
for i in df_test.columns[df_test.isna().any()]:
    no_missing = df_test[i].isna().sum()
    print("Column "+str(i) +":"+str(no_missing) +" NAs")

Missing values in testing data
Column yr:2 NAs
Column ht:13 NAs
Column num:96 NAs
Column Rec_Rank:3536 NAs
Column ast_tov:537 NAs
Column rimmade:248 NAs
Column rimmade_rimmiss:248 NAs
Column midmade:248 NAs
Column midmade_midmiss:248 NAs
Column rim_ratio:646 NAs
Column mid_ratio:697 NAs
Column dunksmade:248 NAs
Column dunksmiss_dunksmade:248 NAs
Column dunks_ratio:2717 NAs
Column pick:4921 NAs
Column drtg:1 NAs
Column adrtg:1 NAs
Column dporpag:1 NAs
Column stops:1 NAs
Column bpm:1 NAs
Column obpm:1 NAs
Column dbpm:1 NAs
Column gbpm:1 NAs
Column ogbpm:1 NAs
Column dgbpm:1 NAs

**[1.8]** Checking if number of missing values in dunkmade column is equal to dunksmiss_dunksmade column.

In [12]:
dunksmade_na=df_train[['dunksmade','dunksmiss_dunksmade']][df_train['dunksmade'].isna()]
dunksmade_na

       dunksmade  dunksmiss_dunksmade
0            NaN                  NaN
1            NaN                  NaN
2            NaN                  NaN
3            NaN                  NaN
4            NaN                  NaN
...          ...                  ...
56066        NaN                  NaN
56078        NaN                  NaN
56082        NaN                  NaN
56088        NaN                  NaN
56090        NaN                  NaN

[6081 rows x 2 columns]

In [13]:
df_train['dunksmiss_dunksmade'].isna().sum()

6081

**[1.9]** Checking player's type

In [14]:
df_train["type"].describe()

count     56091
unique        1
top         all
freq      56091
Name: type, dtype: object

It seem like all players in database can play all type, so no need to on-hot encoding.

## 2. Data preparation: Label encoding(yr) + Converter(ht)

**[2.1]** Adding new column for missing dunk, rim and mid for training and testing data.

In [15]:
df_train['dunksmiss']=df_train['dunksmiss_dunksmade']-df_train['dunksmade']
df_train['rimmiss']=df_train['rimmade_rimmiss']-df_train['rimmade']
df_train['midmiss']=df_train['midmade_midmiss']-df_train['midmade']

In [16]:
df_test['dunksmiss']=df_test['dunksmiss_dunksmade']-df_test['dunksmade']
df_test['rimmiss']=df_test['rimmade_rimmiss']-df_test['rimmade']
df_test['midmiss']=df_test['midmade_midmiss']-df_test['midmade']

**[2.2]** Drop player number as it not meaningful information, columns with large number of nas, ratio column where it is insufficient due to player may have drunk made and missing equal to 0.

In [17]:
df_train = df_train.drop(['num','Rec_Rank','pick','rimmade_rimmiss','midmade_midmiss','rim_ratio','mid_ratio','dunks_ratio','dunksmiss_dunksmade'], axis=1)
df_test = df_test.drop(['num','Rec_Rank','pick','rimmade_rimmiss','midmade_midmiss','rim_ratio','mid_ratio','dunks_ratio','dunksmiss_dunksmade'], axis=1)

**[2.3]** Label encoding year of study.

In [18]:
df_train.select_dtypes(include=['object'])

,team,conf,yr,ht,type,player_id
0,South Alabama,SB,So,2-Jun,all,7be2aead-da4e-4d13-a74b-4c1e692e2368
1,Utah St.,WAC,So,4-Jun,all,61de55d9-1582-4ea4-b593-44f6aa6524a6
2,South Florida,BE,Sr,4-Jun,all,efdc4cfc-9dd0-4bf8-acef-7273e4d5b655
3,Pepperdine,WCC,Sr,4-Jun,all,14f05660-bb3c-4868-b3dd-09bcdb64279d
4,Pacific,BW,Sr,8-Jun,all,a58db52f-fbba-4e7b-83d0-371efcfed039
...,...,...,...,...,...,...
56086,Niagara,MAAC,Fr,11-May,all,9eded9ee-0eb4-49f4-914a-f58924797bdf
56087,Northwestern St.,Slnd,So,1-Jun,all,5b539feb-1736-44ed-ba62-82bce86b12d6
56088,Texas Southern,SWAC,Fr,Jun-00,all,e95d08eb-1273-4094-9173-c47368222c0d
56089,Vanderbilt,SEC,Fr,2-Jun,all,2f315a7b-2e82-44a2-8597-1779102ace09
56090,Chicago St.,WAC,Sr,8-Jun,all,65571c18-b2b4-4ba6-84db-7357a76e6f59

In [19]:
# A map for yr
yr_mapping = {"Fr": 1, "So": 2, "Jr": 3, "Sr": 4}
#label encoding
df_train["yr_encoded"] = df_train["yr"].map(yr_mapping)
df_test["yr_encoded"] = df_test["yr"].map(yr_mapping)

**[2.4]** Convert ht from date to height

In [20]:
def convert_ht(list):
  month_mapping = {'jan': 1, 'feb': 2, 'mar': 3, 'apr': 4, 'may': 5, 'jun': 6, 'jul': 7, 'aug': 8, 'sep': 9, 'oct': 10, 'nov': 11, 'dec': 12}
  if isinstance(list,float):
    list=None
  elif len(list)!=2:
    list=None
  elif list[0].isdigit():
    height=month_mapping.get(list[1].lower())+int(list[0])/12
    return height
  elif list[1].isdigit():
    height=month_mapping.get(list[0].lower())+int(list[1])/12
    return height

In [21]:
df_train["ht_converted"]=df_train["ht"].str.split("-").apply(convert_ht)
df_test["ht_converted"]=df_test["ht"].str.split("-").apply(convert_ht)

**[2.5]** Fill all missing values of numerical columns with median values.

In [22]:
df_train_allcols=df_train.copy()
df_test_allcols=df_test.copy()
object_columns = df_train.select_dtypes(include=['object']).columns
df_train = df_train.drop(object_columns, axis=1)
object_columns = df_test.select_dtypes(include=['object']).columns
df_test = df_test.drop(object_columns, axis=1)

In [23]:
df_train = df_train.fillna(df_train.median())
df_test = df_test.fillna(df_test.median())

## 3. Data Splitting

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
X_test = df_test

In [26]:
%reload_ext autoreload
import sys
sys.path.insert(0, '../')
from src.data.sets import pop_target

In [27]:
features, target = pop_target(df_train,'drafted')

In [28]:
from src.data.sets import split_sets_random

In [29]:
X_train, y_train, X_val, y_val = split_sets_random(features, target, test_ratio=0.2)

In [30]:
from src.data.sets import save_sets

In [31]:
save_sets(X_train, y_train, X_val, y_val, X_test, path='../data/processed/')

## 4. Get Baseline Model

**[4.1]** Import the `NullRegressor`

In [32]:
from src.models.null import NullRegressor

**[4.2]** Instantiate a `NullRegressor` and save it into a variable called `base_model`

In [33]:
base_model = NullRegressor()

**[4.3]** Make a prediction using `fit_predict()` and save the results in a variable called `y_base`

In [34]:
y_base = base_model.fit_predict(y_train)

[4.4] Import the print_regressor_scores()

In [35]:
from src.models.baseline import print_regressor_scores

**[4.5]** Display the RMSE and MAE scores of this baseline model on the training set

In [36]:
print_regressor_scores(y_preds=y_base, y_actuals=y_train, set_name='Training')

RMSE Training: 0.09730942417337497
MAE Training: 0.01893824806590762

## Save best models artefacts for week2(Please dont mark it)

In [37]:
from src.models.train_model import fit_assess_regressor

In [38]:
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression(random_state=42)
fit_assess_regressor(log_reg,X_train, y_train)

/Users/ken/Library/Caches/pypoetry/virtualenvs/assignment1-yqyFRD4a-py3.9/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=42)

In [39]:
from joblib import dump

dump(log_reg,  '../models/log_reg_default.joblib')

['../models/log_reg_default.joblib']

In [40]:
from sklearn.svm import SVC
svc = SVC(random_state=42,probability=True)
fit_assess_regressor(svc,X_train, y_train)

SVC(probability=True, random_state=42)

In [41]:
dump(svc,  '../models/svc_default.joblib')

['../models/svc_default.joblib']